/*NAVBAR*/

  /*Formatting for Navbar logo*/
  .navbar-brand img{
    margin-top: -5px;
  }

  /*Navbar padding to fix overlay for homepage*/
  .homepage{
    padding-top:50px;
  }

  /*Navbar padding to fix overlay for non-homepage*/
  .non-homepage{
    padding-top:50px;
  }

  .xs-nav-license{
    text-align:right;
  }

  .navbar-static-bottom{
    margin-bottom: 0px;
  }

  /*END NAVBAR*/


/*TEXT LAYOUT*/

  /*Formatting for left thumbnail image in text*/
  .textthumb-l{
    width: 30%;
    float: left;
    padding-right: 10px;
    padding-top: 25px;
  }

  /*Formatting for right thumbnail image in text*/
  .textthumb-r{
    width: 30%;
    float: right;
    padding-left: 10px;
    padding-top: 25px;
  }

  /*Formatting for banner at top of page*/
  .banner{
    text-align: center;
  }

  .display-table{
    display: table;
    table-layout: fixed;
  }

  .display-cell{
    display: table-cell;
    vertical-align: middle;
    float: none;
  }

  .content{
    max-width: 1200px;
  }

/*END TEXT LAYOUT*/
